:root {
/* Brand Colors */
--whitesmoke: #F8F8F8;
--goldenrod: #D8A018;
--black: #000000;
/* Homepage Colors */
--black: #0E0E16;
--cadetblue: #70B4B3;
--black: #030201;
--slategray: #525874;
--darkslategray: #1A3531;
--darkslateblue: #1E377B;
}
